body {
	background-color: #ffe;
	margin: 20px 20px 20px 20px;
	border: 5px solid black;
	padding: 50px 30px 30px 30px;
}
img {
	border: 3px solid black;
	width: 400px;
}
h2 {
	font-family: "helvetica";
}
h3 {
	color: #887;
	font-style: italic;
}
a {
	color: #900;}
 